{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}

<h2>{% trans "About"%}</h2>
<h3>{% trans "Why this site"%}</h3>
<p>{% blocktrans %}This site has been created to help christians to find a place of worship when they are in a new place. {% endblocktrans %}
</p>
<h3>{% trans "Which churches"%}</h3>
<p>{% blocktrans %}All Churches on this Site are added if they meet this set of criteria. {% endblocktrans %}
</p>
<h3>{% trans "I want to participate"%}</h3>
<p>{% blocktrans %}They are several ways how you can participate and help other people to find the next chruch.  {% endblocktrans %}
</p>

{% endblock %}
