{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <h2>{{ title }}</h2>
    <!--<div class="col-md-12">-->
    <h4>{% trans "Create new Place."%}</h4>
    <hr/>

    <form method="post" class="form-vertical">
        <section id="newPlaces" class="col-md-5">

            {% csrf_token %}

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} fade in">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <table>
                {{ place_form.as_table }}
            </table>
            <br>
            <input type="submit" value="{% trans "Submit" %}" class="btn btn-default pull-right"/>
        </section>
    </form>
    <div id="addmap">

        <script>
            var map = L.map('addmap')
            map.fitBounds([[55.05, 8.4],[47.270108, 10.178319],[51.05, 5.866667],[51.266667, 15.033333]]);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            marker = null

            function onMapClick(e) {
                if (marker == null) {
                    marker = new L.marker(e.latlng, {
                        draggable: 'true'
                    });
                }

                marker.on('dragend', function(event) {
                    var marker = event.target;
                    var position = marker.getLatLng();
                    $("#id_position").val(position.lng+","+position.lat);

                    marker.setLatLng(new L.LatLng(position.lat, position.lng), {
                        draggable: 'true'
                    });
                    map.panTo(new L.LatLng(position.lat, position.lng));
                });
                map.addLayer(marker);
                var position = marker.getLatLng();
                $("#id_position").val(position.lng+","+position.lat);
            };

            map.on('click', onMapClick);
        </script>

    </div>

    <!--</div>-->

</div>

{% endblock %}