{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}

<h2>{{ title }}</h2>
<h3>{% trans "How to contact"%}</h3>

<h4>{% trans "Register new Church"%}</h4>
<p>{% blocktrans %}Want to register new Church {% endblocktrans %}</p>
<address>
    <strong>{% trans "Mail new Church" %}</strong>   <a href="mailto:neue-gemeinde@bibeltreue-gemeinden.de">neue-gemeinde@bibeltreue-gemeinden.de</a><br />
</address>
<h4>{% trans "General Questionsn"%}</h4>
<p> {% blocktrans %}If you have Questions about the Site pleace look here. {% endblocktrans %} <a href="{% url 'about' %}">{% trans "About"%}</a> </p>

{% endblock %}
