{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <h2>{{ title }}</h2>
    <h4>{% trans "Edit Place." %}</h4>
    <hr/>
    <form method="post" class="form-horizontal">
        <section id="newPlaces" class="col-md-4">
            {% csrf_token %}

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} fade in">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <table>
                {{ place_form.as_table }}
            </table>
            <br>
            <input type="submit" value="{% trans " Submit" %}" class="btn btn-default pull-right"/>
        </section>

    </form>
    <div div id="addmap">

        <script>
        //In django the lat and lon are switched. x =  lon y = lat
        django_position = new L.LatLng({{ place_form.position.value }});
        converted_position = new L.LatLng(django_position.lng, django_position.lat);

        var map = L.map('addmap').setView(converted_position, 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);



        function createMarker(marker, initial_position){
            if (marker == null) {
                marker = new L.marker(initial_position, {
                    draggable: 'true'
                });
            }

            marker.on('dragend', function(event) {
                var marker = event.target;
                var position = marker.getLatLng();
                $("#id_position").val(position.lng+","+position.lat);

                marker.setLatLng(new L.LatLng(position.lat, position.lng), {
                    draggable: 'true'
                });
                map.panTo(new L.LatLng(position.lat, position.lng));
            });
            map.addLayer(marker);
            var position = marker.getLatLng();
            $("#id_position").val(position.lng+","+position.lat);

        };


        createMarker(null,converted_position);
        //console.log({{place_form.position}})

        </script>

    </div>
</div>
{% endblock %}