{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}

<div class="container">


    <form class="row" role="search">
        <div class="input-group">

            <input id="search_place" type="text" class="form-control" placeholder="Enter Address">

            <div class="input-group-btn">
                <button type="button" class="btn btn-search btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="label-icon">{% trans "Radius" %}</span>
                    <span class="label-icon radius_number">10</span>
                    <span class="label-icon">km</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-left" role="menu">
                    <li>
                        <a href="#">
                            <span class="label-icon radius_number">10</span>
                            <span class="label-icon">km</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label-icon radius_number">25</span>
                            <span class="label-icon">km</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label-icon radius_number">50</span>
                            <span class="label-icon">km</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label-icon radius_number">100</span>
                            <span class="label-icon">km</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="input-group-btn">
                <button type="button" class="btn btn-search btn-default" onclick="searchPlace()">
                    {% trans "Search" %}
                </button>


            </div>
        </div>
    </form>

    <div class="row"></div>

</div>
<div id="mapid">
        <script>

        function get_corner_points_from_map(map){
            var bounds = map.getBounds();
            var northeast = bounds._northEast
            var southwest = bounds._southWest

            var bounding_box = [[northeast.lat, northeast.lat], [southwest.lng, northeast.lat], [southwest.lng, southwest.lat], [northeast.lng, southwest.lat]]

            return bounding_box
        }

        function get_all_places(map) {
            var bounding_box = get_corner_points_from_map(map)

            //var jsonObject = {"bounding_box":bounding_box}
            var jsonString = JSON.stringify(bounding_box);
            //console.log(bounding_box);
            //console.log(jsonObject);
            //console.log(jsonString);

            $.ajax({
                url: '{% url 'bounding_box' %}',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: 'text',
                data: {'bounding_box':jsonString},
                success: function(result) {
                    markersLayer.clearLayers();
                    var jsonObject = $.parseJSON(result);
                    var markers = jsonObject.markers

                    var markerFeatureGroup = L.featureGroup()
                    for (marker of markers) {
                        var loc = new L.LatLng(marker.location.lat, marker.location.lon)
                        console.log(marker.passed_days)
                        if (marker.passed_days < not_new_days) {
                            var mapMarker = new L.marker(loc, {icon: redIcon})
                        } else {
                            var mapMarker = new L.marker(loc, {icon: blueIcon})
                        }
                        mapMarker.bindPopup(marker.popup)
                        markersLayer.addLayer(mapMarker);
                        markerFeatureGroup.addLayer(mapMarker)
                    }
                    mymap.fitBounds(markerFeatureGroup.getBounds());
                }
            });
            markersLayer.addTo(mymap);
        };

        var mymap = L.map('mapid');
        mymap.fitBounds([[55.05, 8.4],[47.270108, 10.178319],[51.05, 5.866667],[51.266667, 15.033333]]);
        var markersLayer = new L.layerGroup();
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(mymap);
        var radius = 10
        $(".input-group-btn .dropdown-menu li a").click(function(){
            var selText = $(this).html();
           $(this).parents('.input-group-btn').find('.btn-search').html('Radius' +selText);
           radius = $(this).find('.radius_number')[0].innerText
        });

        var LeafIcon = L.Icon.extend({
            options: {
                iconSize:     [19, 19],
                iconAnchor:   [19, 19],
                popupAnchor:  [-10, -19]
            }
        });

        {% load static %}
        var blueIcon = new LeafIcon({iconUrl: '{% static '/app/images/church.png' %}'})
        var redIcon = new LeafIcon({iconUrl: '{% static '/app/images/church-red.png' %}'})

        get_all_places(mymap);

        function searchPlace(e) {
            var searchString = $("#search_place").val()
            var jsonObject = new Object()
            jsonObject.query = searchString
            jsonObject.radius = radius
            var jsonString = JSON.stringify(jsonObject)

            $.ajax({
                url: '{% url 'osm_location' %}',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: jsonObject,
                dataType: 'text',
                success: function(result) {
                    markersLayer.clearLayers();
                    var jsonObject = $.parseJSON(result);
                    var center = jsonObject.center;
                    var markers = jsonObject.markers;


                    var markerFeatureGroup = L.featureGroup()
                    for (marker of markers) {
                        var loc = new L.LatLng(marker.location.lat, marker.location.lon)
                        console.log(marker.passed_days)
                        if (marker.passed_days < not_new_days) {
                            var mapMarker = new L.marker(loc, {icon: redIcon})
                        } else {
                            var mapMarker = new L.marker(loc, {icon: blueIcon})
                        }
                        mapMarker.bindPopup(marker.popup)
                        markersLayer.addLayer(mapMarker);
                        markerFeatureGroup.addLayer(mapMarker);
                    }
                    var rad = radius * 1000

                    var circle = L.circle(new L.LatLng(center.lat, center.lon), {
                        color: 'blue',
                        dashArray: "30 10",
                        weight: 0,
                        fillColor: '#009ACD',
                        fillOpacity: 0.2,
                        radius: rad,
                    });
                    markersLayer.addLayer(circle);
                    markerFeatureGroup.addLayer(circle)
                    //mymap.panTo(new L.LatLng(center.lat, center.lon))
                    mymap.fitBounds(markerFeatureGroup.getBounds());
                }
            });

            markersLayer.addTo(mymap);

        };
        </script>

    </div>

{% endblock %}
