﻿<!DOCTYPE html>
<html>
{% load i18n %}
{% load cookielaw_tags %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META NAME="description" CONTENT="Hier findest du eine Auswahl an verschiedenen Bibeltreuen Gemeinden.
    Einfach Standort und Suchradius angeben und die Gemeinden werden dir angezeigt. Die Auswahl wächst stetig! ">
    <title>{{ title }} - Bibeltreue Gemeinden</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>
    <script type="text/javascript" src="https://openlayers.org/en/v4.4.1/build/ol.js"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111478323-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111478323-1');




    </script>

    {{ place_form.media }}

</head>

{% csrf_token %}
<script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

</script>

<script>
    var not_new_days = 60;

</script>

<body>
<div class="navbar navbar-default navbar-fixed-top">
    {% include 'app/navbar.html' %}
</div>
{% cookielaw_banner %}

<div class="container body-content">
    {% block content %}{% endblock %}
    <hr/>
    <footer>
        <p>&copy; {{ year }} - Bibeltreue Gemeinden <a href="{% url 'impressum' %}">{% trans "Impressum"%}</a> <a
                href="{% url 'datenschutz' %}">{% trans "Datenschutz"%}</a></p>
    </footer>
</div>

{% block scripts %}{% endblock %}

</body>
</html>
