{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>{% trans "Use a local account to log in or" %} <a href="{% url 'signup' %}">{% trans "Sign up"%} </a></h4>
                <hr/>
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">{% trans "User name" %}</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">{% trans "Password" %}</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/"/>
                        <input type="submit" value="{% trans "Log in" %}" class="btn btn-default"/>
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">{% trans "Please enter a correct user name and password." %}</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
    </div>
</div>

{% endblock %}


{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
