{% load i18n %}
{% if user.is_authenticated %}
<form id="logoutForm" action="{% url 'logout' %}" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand" href="{% url 'update_profile' %}">{% trans "Hello"%} {{ user.first_name }}!</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">{% trans "Log off"%}</a></li>

    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">{% trans "Log in"%}</a></li>
</ul>

{% endif %}
