{% load i18n %}
{% autoescape off %}
<p><b>{{ place.name }}</b> <br>
    {{ place.description }}
</p>
<address>
    {{ place.street }} {{ place.hous_number }} <br>
    {{ place.postcode }} {{ place.city }}<br>
    {{ place.country }}<br>

    <br>
</address>
<p>{% trans "Belongs to"%} {{ place.bruderschaft }}<br>
{% trans "Domination"%} {{ place.domination }}</p>
{% endautoescape %}

{% if user.is_authenticated %}
<a class="btn btn-default" href="{% url 'edit_place' place.id %}"> {% trans "Edit"%} </a>
{% endif %}
