{% load i18n %}
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home' %}" class="navbar-brand">
            <img alt="Logo" src="/static/app/images/logo.png">
            Bibeltreue Gemeinden
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li><a href="{% url 'add_place' %}">{% trans "Add new Place"%}</a></li>
            {% endif %}
            <li><a href="{% url 'places' %}">{% trans "Places"%}</a></li>
            <li><a href="{% url 'about' %}">{% trans "About"%}</a></li>
            <li><a href="{% url 'contact' %}">{% trans "Contact"%}</a></li>
        </ul>
        <!--{% include 'app/loginpartial.html' %}-->
    </div>
</div>