{% extends "app/layout.html" %}
{% load i18n %}

{% load app_filters %}

{% block content %}
<div class="container">
    <div>
        <h2>{% trans "Forgot Password"%}</h2>
        <p>{% trans "Please specify your email address to receive instructions for resetting it."%}</p>
    </div>
    <div>
        <section id="loginForm">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email" class="col-xs-1 control-label pull-left">{% trans "E-mail address:"%}</label>
                    <div class="col-sm-9">
                        {{ form.email.errors }}
                        {{ form.email | addcss:"form-control" }}
                    </div>
                    <input type="submit" class="col-sm-2 btn btn-default" value="{% trans "Reset password"%}"/>
                </div>

            </form>
        </section>
    </div>

</div>
{% endblock %}


{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}