{% extends "app/layout.html" %}
{% load i18n %}

{% block content %}
<div id="mapid">
        {% csrf_token %}
        <script>
        function get_corner_points_from_map(map){
            var bounds = map.getBounds();
            var northeast = bounds._northEast
            var southwest = bounds._southWest

            var bounding_box = [[northeast.lat, northeast.lng], [southwest.lat, northeast.lng], [southwest.lat, southwest.lng], [northeast.lat, southwest.lng]]

            return bounding_box
        }

        var LeafIcon = L.Icon.extend({
            options: {
                iconSize:     [19, 19],
                iconAnchor:   [19, 19],
                popupAnchor:  [-10, -19]
            }
        });
        {% load static %}
        var blueIcon = new LeafIcon({iconUrl: '{% static '/app/images/church.png' %}'})
        var redIcon = new LeafIcon({iconUrl: '{% static '/app/images/church-red.png' %}'})

        function get_all_places(map) {
            var bounding_box = get_corner_points_from_map(map)

            //var jsonObject = {"bounding_box":bounding_box}
            var jsonString = JSON.stringify(bounding_box);
            //console.log(bounding_box);
            //console.log(jsonObject);
            //console.log(jsonString);

            $.ajax({
                url: '{% url 'all_places' %}',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: 'text',
                data: {'bounding_box':jsonString},
                success: function(result) {
                    markersLayer.clearLayers();
                    var jsonObject = $.parseJSON(result);
                    var markers = jsonObject.markers

                    var markerFeatureGroup = L.featureGroup()
                    for (marker of markers) {
                        var loc = new L.LatLng(marker.location.lat, marker.location.lon)
                        console.log(marker.passed_days)
                        if (marker.passed_days < not_new_days) {
                            var mapMarker = new L.marker(loc, {icon: redIcon})
                        } else {
                            var mapMarker = new L.marker(loc, {icon: blueIcon})
                        }

                        mapMarker.bindPopup(marker.popup)
                        markersLayer.addLayer(mapMarker);
                        markerFeatureGroup.addLayer(mapMarker)
                    }
                    mymap.fitBounds(markerFeatureGroup.getBounds());
                }
            });
            markersLayer.addTo(mymap);
        };

        var mymap = L.map('mapid');
        mymap.fitBounds([[55.05, 8.4],[47.270108, 10.178319],[51.05, 5.866667],[51.266667, 15.033333]]);
        var markersLayer = new L.layerGroup();
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(mymap);
        var radius = 10
        $(".input-group-btn .dropdown-menu li a").click(function(){
            var selText = $(this).html();
           $(this).parents('.input-group-btn').find('.btn-search').html('Radius' +selText);
           radius = $(this).find('.radius_number')[0].innerText
        });

        get_all_places(mymap);

        </script>

    </div>
{% if user.is_authenticated %}
<div class="row">
    <form action="batch/" method="post">
        {% csrf_token %}
        batch_submit
        <input type="submit" value="OK">
    </form>
    <div class="col-md-8">
        <section id="allPlaces">
            {% csrf_token %}
            <h4>{% trans "All Places"%}</h4>
            <hr/>
            {% for place in places %}
            <p>{{ place.name }}, {{ place.description }} {{ place.id }}
                <a class="btn btn-default" href="{% url 'edit_place' place.id %}"> {% trans "Edit Place" %} </a></p>

            {% endfor %}
            <hr/>
        </section>
    </div>
</div>
{% endif %}
{% endblock %}