{% extends "app/layout.html" %}
{% load i18n %}

{% block content %}
 <h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="editProfileForm">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>{% trans "Edit here your user details."%}</h4>
                <hr />
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} fade in">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" value="{% trans "Update" %}" class="btn btn-default" />
                <hr />
            </form>
        </section>
    </div>

</div>
{% endblock %}