﻿{% extends "app/layout.html" %}
{% load i18n %}

{% block content %}
  <h2>{{ title }}</h2>
<div class="row">
  <div class="col-md-8">
    <section id="signupForm">
        <form method="post" class="form-horizontal">
          {% csrf_token %}
          <h4>{% trans "Fill out all data to create an user account."%}</h4>
          <hr />
            {% if form.errors %}
            <div class="alert alert-danger fade in">
                {{ form.errors.username }}
                {{ form.errors.email }}
                {{ form.errors.password1 }}
                {{ form.errors.password2 }}
            </div>
              {% endif %}
            <div class="form-group">
                <label for="id_username" class="col-md-2 control-label">{% trans "User name"%}</label>
                <div class="col-md-10">
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group">
                <label for="id_email" class="col-md-2 control-label">{% trans "E-Mail"%}</label>
                <div class="col-md-10">
                    {{ form.email }}
                </div>
            </div>
            <div class="form-group">
                <label for="id_password1" class="col-md-2 control-label">{% trans "Password"%}</label>
                <div class="col-md-10">
                    {{ form.password1 }}
                </div>
            </div>
            <div class="form-group">
                <label for="id_password2" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    {{ form.password2 }}
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="{% trans "Sign up" %}" class="btn btn-default" />
            </div>
        </form>
    </section>
  </div>

</div>
{% endblock %}